/* Styles pour assurer que le footer reste en bas */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; /* Permet d'occuper l'espace disponible et pousse le footer vers le bas */
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  